.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  margin: 25px 0;
}

li {
  list-style: none;
  padding: 5px 10px;
}

.name, .total {
  display: inline-block;
  width: 500px;
  text-align: left;
  font-size: 16pt;
  font-weight: bold;
}

button{
  margin: 0 2px;
}
